<template>
  <div>
    <h1>Hello {{account.user.username}}!</h1>
    <p>Your city - {{account.user.city}}.</p>

    <h3>
      Weather in {{account.user.city}}
      <i onclick="window.location.reload()" class="update material-icons">autorenew</i>
    </h3>
    <div id="weather"></div>
    <p>
      <router-link tag="button" to="/login" class="logout">Logout</router-link>
    </p>

    <h4>All users:</h4>
    <table v-if="users.items" class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">City</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users.items" :key="user.id">
          <th scope="row">{{user.id}}</th>
          <td>
            <em v-if="users.loading">Loading users...</em>
            <span v-if="users.error" class="text-danger">ERROR: {{users.error}}</span>
            {{user.username}}
          </td>
          <td>{{user.city}}</td>
          <td>
            <span v-if="user.deleting">
              <em>Deleting...</em>
            </span>
            <span v-else-if="user.deleteError" class="text-danger">- ERROR: {{user.deleteError}}</span>
            <span v-else>
              <a @click="deleteUser(user.id)" class="text-danger">Delete</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState({
      account: state => state.account,
      users: state => state.users.all
    })
  },
  created() {
    this.getAllUsers();
  },
  methods: {
    ...mapActions("users", {
      getAllUsers: "getAll",
      deleteUser: "delete"
    })
  }
};
</script>