<template>
  <div class="cotn_principal">
    <div class="cont_centrar">
      <div class="cont_login">
        <div class="cont_info_log_sign_up">
          <div class="col_md_login">
            <div class="cont_ba_opcitiy">
              <h2>LOGIN</h2>
              <button class="btn_login" onclick="cambiar_login()">Login</button>
            </div>
          </div>
          <div class="col_md_sign_up">
            <div class="cont_ba_opcitiy">
              <h2>SIGN UP</h2>
              <router-link to="/register" tag="button" class="btn_sign_up">Register</router-link>
            </div>
          </div>
        </div>

        <div class="cont_back_info">
          <div class="cont_img_back_grey">
            <img src="https://images4.alphacoders.com/106/thumb-1920-106826.jpg" alt>
          </div>
        </div>
        <div class="cont_forms">
          <div class="cont_img_back_">
            <img src="https://images4.alphacoders.com/106/thumb-1920-106826.jpg" alt>
          </div>

          <form @submit.prevent="handleSubmit">
            <div class="cont_form_login">
              <a href="#" onclick="ocultar_login_up()">
                <i class="material-icons">call_received</i>
              </a>
              <h2>LOGIN</h2>
              <div class="form-group">
                <input
                  type="text"
                  v-model="username"
                  name="username"
                  class="form-control"
                  :class="{ 'is-invalid': submitted && !username }"
                  placeholder="Username"
                >
                <div v-show="submitted && !username" class="invalid-feedback">Username is required</div>
              </div>

              <div class="form-group">
                <input
                  type="password"
                  v-model="password"
                  name="password"
                  class="form-control"
                  :class="{ 'is-invalid': submitted && !password }"
                  placeholder="Password"
                >
                <div v-show="submitted && !password" class="invalid-feedback">Password is required</div>
              </div>
              <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      username: "",
      password: "",
      submitted: false
    };
  },
  computed: {
    ...mapState("account", ["status"])
  },
  created() {
    // reset login status
    this.logout();
  },
  methods: {
    ...mapActions("account", ["login", "logout"]),
    handleSubmit(e) {
      this.submitted = true;
      const { username, password } = this;
      if (username && password) {
        this.login({ username, password });
      }
    }
  }
};
</script>