<template>
  <div id="weather">
    <div class="weather">
      <div class="top-section">
        <p>
          {{ city }},
          <span>{{ location }}</span>
        </p>
        <div>
          <p>{{ day }}, {{ hours }}:{{ mins }}</p>
          <p>{{ cloudtxt }}</p>
        </div>
      </div>
      <div class="bottom-section">
        <div class="bottom-left">
          <p>
            <img :src="cloudicon" height="50" alt="cloud">
          </p>
          <p>{{ temps }}</p>
          <div>
            <span class="temp-c">
              <sup>o</sup>C
            </span>
          </div>
        </div>
        <div class="bottom-right">
          <p>Wind: {{ temps === true ? wind : windmph }} {{ temps === true ? "kph" : "mph"}}</p>
          <p>Precip: {{ precip }} mm</p>
          <p>Humidity: {{ humidity }}%</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AppWeather",
  data() {
    return {
      city: "Wroclaw",
      location: "Poland",
      temps: "",
      hours: 0,
      mins: 0,
      day: "",
      temp: true,
      cloudtxt: "",
      cloudicon: "https:",
      humidity: "",
      precip: "",
      wind: 0,
      windmph: 0
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      let self = this;
      const data = JSON.parse(localStorage.getItem("user"));
      let location = data.city;

      if (location === null) {
        console.log("Cancelled request...try again!");
        return;
      } else {
        axios
          .get(
            "https://api.apixu.com/v1/current.json?key=097c20d2e4404874826155359182112&q=" +
              location
          )
          .then(function(response) {
            if (response.statusText !== "OK") {
              self.validResponse = false;
            } else {
              self.validResponse = true;
              //  info from api
              self.city = response.data.location.name;
              self.temps = Math.floor(response.data.current.temp_c);
              self.tempC = Math.floor(response.data.current.temp_c);
              self.tempF = Math.floor(response.data.current.temp_f);
              self.cloudtxt = response.data.current.condition.text;
              self.cloudicon += response.data.current.condition.icon;
              self.humidity = response.data.current.humidity;
              self.location = response.data.location.country;
              self.wind = Math.floor(response.data.current.wind_kph);
              self.windmph = Math.floor(response.data.current.wind_mph);
              self.precip = response.data.current.precip_mm;
              // get hours from api
              let date = new Date(response.data.location.localtime);
              self.hours = date.getHours();
              // format time minutes
              if (date.getMinutes() < 10) {
                self.mins = "0" + date.getMinutes();
              } else {
                self.mins = date.getMinutes();
              }
              // format day of week
              let days = ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat"];
              for (let i = 0; i < days.length; i++) {
                if (date.getDay() === i) {
                  self.day = days[i];
                }
              }
            }
          })
          .catch(function(error) {
            console.log(`Bad Request: ${error}`);
          });
      }
    }
  }
};
</script>