<template>
  <div class="cotn_principal">
    <div class="cont_centrar">
      <div class="cont_login">
        <div class="cont_info_log_sign_up">
          <div class="col_md_login">
            <div class="cont_ba_opcitiy">
              <h2>LOGIN</h2>
              <router-link to="/login" tag="button" class="btn_login">Login</router-link>
            </div>
          </div>

          <div class="col_md_sign_up">
            <div class="cont_ba_opcitiy">
              <h2>SIGN UP</h2>
              <button class="btn_sign_up" onclick="cambiar_sign_up()">Register</button>
            </div>
          </div>
        </div>
        <div class="cont_back_info">
          <div class="cont_img_back_grey">
            <img src="https://images4.alphacoders.com/106/thumb-1920-106826.jpg" alt>
          </div>
        </div>
        <div class="cont_forms">
          <div class="cont_img_back_">
            <img src="https://images4.alphacoders.com/106/thumb-1920-106826.jpg" alt>
          </div>

          <form @submit.prevent="handleSubmit">
            <div class="cont_form_sign_up">
              <a href="#" onclick="ocultar_login_sign_up()">
                <i class="material-icons">call_received</i>
              </a>
              <h2>SIGN UP</h2>
              <div class="form-group">
                <input
                  type="text"
                  placeholder="Username"
                  v-model="user.username"
                  v-validate="'required'"
                  name="username"
                  class="form-control"
                  :class="{ 'is-invalid': submitted && errors.has('username') }"
                >
                <div
                  v-if="submitted && errors.has('username')"
                  class="invalid-feedback"
                >{{ errors.first('username') }}</div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  placeholder="Your City"
                  v-model="user.city"
                  v-validate="'required'"
                  name="city"
                  class="form-control"
                  :class="{ 'is-invalid': submitted && errors.has('city') }"
                >
                <div
                  v-if="submitted && errors.has('city')"
                  class="invalid-feedback"
                >{{ errors.first('city') }}</div>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  placeholder="Password"
                  v-model="user.password"
                  v-validate="{ required: true, min: 6 }"
                  name="password"
                  class="form-control"
                  :class="{ 'is-invalid': submitted && errors.has('password') }"
                >
                <div
                  v-if="submitted && errors.has('password')"
                  class="invalid-feedback"
                >{{ errors.first('password') }}</div>
              </div>
              <button class="btn_sign_up" onclick="cambiar_sign_up()">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      user: {
        username: "",
        city: "",
        password: ""
      },
      submitted: false
    };
  },
  computed: {
    ...mapState("account", ["status"])
  },
  methods: {
    ...mapActions("account", ["register"]),
    handleSubmit(e) {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.register(this.user);
        }
      });
    }
  }
};
</script>