* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

body,
.jumbotron {
  background-color: #e9ecef;
}

/* login */
.cotn_principal {
  position: relative;
  width: 100%;
  height: 100%;
}

.cont_centrar {
  position: relative;
  float: left;
  width: 100%;
}

.cont_login {
  position: relative;
  width: 640px;
  left: 50%;
  margin-left: -320px;
}

.cont_back_info {
  position: relative;
  float: left;
  width: 640px;
  height: 280px;
  overflow: hidden;
  background-color: #fff;
  margin-top: 100px;
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

.cont_forms {
  position: absolute;
  overflow: hidden;
  top: 100px;
  left: 0px;
  width: 320px;
  height: 280px;
  background-color: #eee;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_login {
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
  height: 420px;
  top: 20px;
  left: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

}

.cont_forms_active_sign_up {
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
  height: 420px;
  top: 20px;
  left: 320px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_img_back_grey {
  position: absolute;
  width: 950px;
  top: -80px;
  left: -116px;
}

.cont_img_back_grey>img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
  animation-name: animar_fondo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.cont_img_back_ {
  position: absolute;
  width: 950px;
  top: -80px;
  left: -116px;
}

.cont_img_back_>img {
  width: 100%;
  opacity: 0.3;
  animation-name: animar_fondo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cont_forms_active_login>.cont_img_back_ {
  top: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_sign_up>.cont_img_back_ {
  top: 0px;
  left: -435px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


.cont_info_log_sign_up {
  position: absolute;
  width: 640px;
  height: 280px;
  top: 100px;
  z-index: 1;
}

.col_md_login {
  position: relative;
  float: left;
  width: 50%;
}

.col_md_login>h2 {
  font-weight: 400;
  margin-top: 70px;
  color: #757575;
}

.col_md_login>p {
  font-weight: 400;
  margin-top: 15px;
  width: 80%;
  color: #37474F;
}

.btn_login {
  background-color: #26C6DA;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.col_md_sign_up {
  position: relative;
  float: left;
  width: 50%;
}

.cont_ba_opcitiy>h2 {
  font-weight: 400;
  color: #fff;
}

.cont_ba_opcitiy>p {
  font-weight: 400;
  margin-top: 15px;
  color: #fff;
}

/* background text */
.cont_ba_opcitiy {
  position: relative;
  background-color: rgba(120, 144, 156, 0.55);
  width: 80%;
  border-radius: 3px;
  margin-top: 60px;
  padding: 15px 0px;
}

.btn_sign_up {
  background-color: #ef5350;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

.cont_forms_active_sign_up {
  z-index: 2;
}

@-webkit-keyframes animar_fondo {
  from {
    -webkit-transform: scale(1) translate(0px);
    -moz-transform: scale(1) translate(0px);
    -ms-transform: scale(1) translate(0px);
    -o-transform: scale(1) translate(0px);
    transform: scale(1) translate(0px);
  }

  to {
    -webkit-transform: scale(1.5) translate(50px);
    -moz-transform: scale(1.5) translate(50px);
    -ms-transform: scale(1.5) translate(50px);
    -o-transform: scale(1.5) translate(50px);
    transform: scale(1.5) translate(50px);
  }
}

@-o-keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }

}

@-moz-keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }

}

@keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.cont_form_login {
  position: absolute;
  opacity: 0;
  display: none;
  width: 320px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_login {
  z-index: 2;
}

.cont_form_sign_up {
  position: absolute;
  width: 320px;
  float: left;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_form_sign_up input {
  text-align: left;
  padding: 10px 5px;
  margin-left: 10px;
  margin-top: 20px;
  width: 300px;
  border: none;
  color: #757575;
}

.cont_form_sign_up>h2 {
  margin-top: 50px;
  font-weight: 400;
  color: #757575;
}


.cont_form_login input {
  padding: 10px 5px;
  margin-left: 10px;
  margin-top: 20px;
  width: 300px;
  border: none;
  text-align: left;
  color: #757575;
}

.cont_form_login>h2 {
  margin-top: 110px;
  font-weight: 400;
  color: #757575;
}

.cont_form_login>a,
.cont_form_sign_up>a {
  color: #757575;
  position: relative;
  float: left;
  margin: 10px;
  margin-left: 30px;
}

/* weathetr */
.weather {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
  background-color: #c0f9ff;
  box-shadow: 0 5px 9px -2px #484646;
  border-radius: 10px;
  border: solid 3px #054492;
}

/* top section  */
.top-section {
  display: flex;
  flex-direction: column;
}

.top-section>p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

p>span {
  font-weight: normal;
}

.top-section div {
  display: flex;
}

.top-section div>p {
  margin: 0;
  margin-top: 6px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
}


/* bottom section  */
.bottom-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.bottom-section .bottom-left {
  display: flex;
  flex: 2;
}

.bottom-left p:nth-child(1) {
  margin: 0;
  margin-top: 6px;
  margin-right: 5px;
}

.bottom-left p:nth-child(2) {
  font-size: 3.5rem;
  margin: 0;
}

.bottom-left div {
  margin-left: 5px;
}

.bottom-right {
  flex: 1;
}

.bottom-right p {
  margin-top: 0;
  margin-bottom: 3px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

.temp-c {
  font-weight: bold;
  font-size: 1.5em;
  color: #0458c0;
}

/* other */
.logout {
  background: #484B4F;
  width: 130px;
  cursor: pointer;
  border-radius: 30px;
  padding: 5px 10px;
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.logout:hover {
  box-shadow: 1px 3px 7px #ccc inset;
}

#weather {
  margin-bottom: 20px;
}

.update {
  color: #07af71;
  font-weight: bold;
  cursor: pointer;
}